{extend name="base" /}

{block name="title"}{$title}{/block}


{block name="body"}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        跟踪管理
        <span class="c-gray en">/</span>
        客户列表
    </nav>
    <article class="Hui-admin-content clearfix">
        <div class="panel mt-20">
            <div class="panel-body">
                <div class="clearfix">
							<span class="f-l">
							<a class="btn btn-primary radius" onclick="layer_show('添加客户','{:url('/User/Customer/Add')}',500,300)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加客户</a>
							</span>
                    <span class="f-r">共有数据：<strong>54</strong> 条</span>
                </div>
                <div class="mt-20 clearfix">
                    <table id="data-table-list" class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value="" id="checkbox"></th>
                            <th width="80">ID</th>
                            <th>客户旺旺</th>
                            <th>第一次跟踪时间</th>
                            <th>第二次跟踪时间</th>
                            <th>第三次跟踪时间</th>
                            <th>备注</th>
                            <th width="60">操作人</th>
                            <th width="150">添加时间</th>
                            <th width="50">操作</th>
                        </tr>
                        </thead>
                        <tbody class="getData-list" data-currPage='1'>
                        {volist name="list" id="vo"}
                        <tr class="text-c">
                            <td><input type="checkbox" value="{$vo.id}" name="checkbox" id="check"></td>
                            <td>{$vo.id}</td>
                            <td><a href="https://amos.alicdn.com/getcid.aw?spm=a1z09.1.0.0.105e36064gAzgC&v=3&groupid=0&s=1&charset=utf-8&uid={$vo.wangwang}&site=cntaobao&fromid=cntaobao" target="_blank">{$vo.wangwang}</a></td>
                            {if($vo.first_time == null)}
                            <td><a href="javascript:;" onclick="add_time('{$vo.id}','first_time')" class="btn btn-success radius" >添加</a></td>
                            {else /}
                            <td>{$vo.first_time}</td>
                            {/if}
                            {if($vo.second_time == null)}
                            <td><a href="javascript:;" onclick="add_time('{$vo.id}','second_time')" class="btn btn-success radius" >添加</a></td>
                            {else /}
                            <td>{$vo.second_time}</td>
                            {/if}
                            {if($vo.third_time == null)}
                            <td><a href="javascript:;" onclick="add_time('{$vo.id}','third_time')" class="btn btn-success radius" >添加</a></td>
                            {else /}
                            <td>{$vo.third_time}</td>
                            {/if}
                            {if($vo.remarks == null)}
                            <td><a href="javascript:;" onclick="edit_remark('{$vo.id}')" class="btn btn-success radius" >添加</a></td>
                            {else /}
                            <td>{$vo.remarks}</td>
                            {/if}
                            <td>{$vo.create}</td>
                            <td>{$vo.create_time}</td>
                            <td class="f-14 td-manage">
                                <a style="text-decoration:none" class="ml-5" onClick="member_del('{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div id="laypage" class="text-c"></div>
            </div>
        </div>
    </article>
</div>
<div ><input id="date" type="hidden"></div>
{/block}

{block name="script"}
<script type="text/javascript">

    //单个客户删除
    function member_del(id) {
        layer.confirm('确定要删除该用户吗？',{
            btn:['确定','取消'],
            yes:function (index,layero) {
                $.ajax({
                    url:'{:url('/user/customer/del')}',
                    type:'post',
                    data:{
                        id:id
                    },
                    dataType:'json',
                    success:function (response) {
                        if (response.code == 200){
                            layer.msg(response.message,{icon:6,time:700,end:function () {
                                    layer.close(index);
                                    window.location.reload("{:url('/user/customer/index')}")
                                }});
                        }else{
                            layer.msg(response.message,{icon:5,time:700});
                        }
                    }
                });
            }
        });
    }

    //客户备注
    function edit_remark(id) {
        layer_show('添加备注','{:url('/user/customer/AddRemark')}'+ '?id=' + id,700,400);
    }

    //全选操作
    $('#checkbox').on('click',function () {
        $('#check').attr('checked',"true")
    });

    //添加时间操作
    function add_time(id,key) {
        layer_show('添加时间','{:url('/user/customer/AddDate')}'+ '?id='+ id + '&key=' + key,700,500)
    }

</script>
{/block}