{extend name="base1" /}

{block name="title"}{$title}{/block}

{block name="body"}
<article class="Hui-admin-page-container">
    <form class="form form-horizontal" id="order_send">
        <input type="hidden" value="{$vo.id}">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>订单编号：</label>
            <div class="form-controls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$vo.order_id}"  id="order_id" name="order_id" disabled="disabled">
            </div>
        </div>
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>快递单号：</label>
            <div class="form-controls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value=""  id="exp_num" name="exp_num">
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="button" id="send"><i class="Hui-iconfont">&#xe632;</i>发货</button>
                <button onClick="windows_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
{/block}

{block name="script"}
<script type="text/javascript">
    //取消按钮关闭当前页面
    function windows_close(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    };

    //发货操作
    $('#send').on('click',function () {
        $.ajax({
            url:'{:url('/user/orders/send')}',
            type:'post',
            data:$('#order_send').serialize(),
            dataType:'json',
            success:function (response) {
                if (response.code == 200){
                    layer.msg(response.message,{icon:6,time:700,end:function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.replace("{:url('/User/Orders/WaitOut')}");
                        }})
                } else{
                    layer.msg(response.message,{icon:5,time:700});
                }
            }
        })
    })
</script>
{/block}

