{extend name="base" /}

{block name="title"}{$title}{/block}


{block name="body"}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        订单管理
        <span class="c-gray en">/</span>
        已发货列表
    </nav>
    <article class="Hui-admin-content clearfix">
        <div class="panel">
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="row clearfix mb-10">
                            <span class="col-xs-4 form-item-label">标题名称：</span>
                            <span class="col-xs-8 form-item-control">
										<input type="text" name="searchInput" id="search-input" placeholder="客户姓名" class="input-text" />
									</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="row clearfix">
									<span class="col-xs-4 form-item-control">
										<button id="search-submit" class="btn btn-success radius" type="button"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
									</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel mt-20">
            <div class="panel-body">
                <div class="clearfix">
							<span class="f-l">
							<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
							<a class="btn btn-primary radius" onclick="article_add('添加订单','article-add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加订单</a>
							</span>
                    <span class="f-r">共有数据：<strong>54</strong> 条</span>
                </div>
                <div class="mt-20 clearfix">
                    <table id="data-table-list" class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="80">订单号</th>
                            <th width="260">收件信息</th>
                            <th>清单</th>
                            <th width="80">加急状态</th>
                            <th width="80">订单状态</th>
                            <th width="120">更新时间</th>
                            <th width="75">创建者</th>
                        </tr>
                        </thead>
                        <tbody class="getData-list" data-currPage='1'>
                        {volist name="list" id="orders"}
                        <tr class="text-c">
                            <td><input type="checkbox" value="{$orders.id}" name=""></td>
                            <td>{$orders.order_id}</td>
                            <td class="text-l">{$orders.name}<br>{$orders.mobile}<br>{$orders.address}</td>
                            <td>{$orders.goods}</td>
                            {if ($orders.urgent == "正常")}
                            <td class="td-status"><span class="label label-success radius">{$orders.urgent}</span></td>
                            {else /}
                            <td class="td-status"><span class="label label-danger radius">{$orders.urgent}</span></td>
                            {/if}
                            {if ($orders.status == "未发货")}
                            <td class="td-status"><span class="label label-success radius">发货</span></td>
                            {else / }
                            <td class="td-status"><span class="label label-success radius">{$orders.status}</span></td>
                            {/if}
                            <td>{$orders.create_time}</td>
                            <td>{$orders.create}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div id="laypage" class="text-c"></div>
            </div>
        </div>
    </article>
</div>
{/block}