{extend name="base1" /}

{block name="title"}{$title}{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form action="" method="post" class="form form-horizontal" id=role_add">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="form-controls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="roleName" name="roleName" datatype="*4-16" nullmsg="用户账户不能为空">
            </div>
        </div>
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="form-controls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="text">
            </div>
        </div>
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
            <div class="form-controls col-xs-8 col-sm-9">
                <dl class="Hui-admin-permission-list" >
                    <dt>
                        <label>
                            权限设置</label>
                    </dt>
                    <dd>
                        <dl class="clearfix Hui-admin-permission-list2">
                            <dt>
                                <label class="">
                                    <input type="checkbox" value="0"  id="user-Character-0-0">
                                    所有权限</label>
                            </dt>
                            <dd>
                                {volist name="list" id="vo" mod="4"}
                                <label class="">
                                    <input type="checkbox" value="{$vo.id}" name="role[]" id="user-Character">
                                    {$vo.title}</label>
                                {eq name="mod" value="3"}<br/>{/eq}
                                {/volist}
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>
{/block}


{block name="script"}
<script type="text/javascript">
    $('#submit').on('click',function () {
        var check_val = [];
        $("input[name='role[]']:checked").each(function(i){
            check_val[i] =$(this).val();
        });
        console.log(check_val);
        $.ajax({
            url:'{:url('/user/system/addrole')}',
            type:'post',
            data:$('#role_add').serialize(),
            dataType:'json',
            success:function (response) {
                if (response.code == 200){
                    layer.msg(response.message,{icon:6,time:700,end:function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.replace("{:url('/User/System/UserRole')}");
                        }})
                } else{
                    layer.msg(response.message,{icon:5,time:700});
                }
            }
        })
    })


    //取消按钮关闭当前页面
    function windows_close(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }



    $(function(){
        $(".Hui-admin-permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
        });
        $(".Hui-admin-permission-list2 dd input:checkbox").click(function(){
            var l =$(this).parent().parent().find("input:checked").length;
            var l2=$(this).parents(".Hui-admin-permission-list").find(".Hui-admin-permission-list2 dd").find("input:checked").length;
            if($(this).prop("checked")){
                $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
                $(this).parents(".Hui-admin-permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
            }
            else{
                if(l==0){
                    $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
                }
                if(l2==0){
                    $(this).parents(".Hui-admin-permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
                }
            }
        });

    });


</script>
{/block}