{extend name="base" /}

{block name="title"}{$title}{/block}

{block name="body"}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        系统管理
        <span class="c-gray en">/</span>
        个人信息
    </nav>

    <article class="Hui-admin-content clearfix">
        <div class="panel mt-1">
            <div class="panel-body">
                <div class="mt-20 clearfix">
                    <form class="form form-horizontal" id="rule_add">
                        {volist name="user" id="vo"}
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2">登录名：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="text" class="input-text" id="username" name="username" value="{$vo.username}" readonly="readonly">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2">密码：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="password" class="input-text" id="password" name="password" >
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2">手机号：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="text" class="input-text" name="mobile" value="{$vo.mobile}">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2">邮箱：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="text" class="input-text" name="mail" value="{$vo.mail}">
                            </div>
                        </div>
                        {/volist}
                        <div class="row clearfix">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                                <button class="btn btn-primary radius" type="button" id="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>
</section>
{/block}

{block name="script"}

<script type="text/javascript">
    $('#submit').on('click',function () {
        $.ajax({
            url:'{:url('/User/System/UpdateInfo')}',
            type:'post',
            data:$('#rule_add').serialize(),
            dataType:'json',
            success:function (response) {
                if (response.code == 200){
                    layer.msg(response.message,{icon:6,time:700,end:function () {
                            window.parent.location.replace("{:url('/User/System/UserInfo')}");
                        }})
                } else{
                    layer.msg(response.message,{icon:5,time:700});
                }
            }
        });
    })
</script>

{/block}