{extend name="base" /}

{block name="title"}{$title}{/block}

{block name="body"}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        系统管理
        <span class="c-gray en">/</span>
        个人信息
    </nav>

    <article class="Hui-admin-content clearfix">
        <div class="panel mt-1">
            <div class="panel-body">
                <div class="mt-20 clearfix">
                    <form class="form form-horizontal" id="rule_add">
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录名：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="text" class="input-text" id="username" name="username">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="password" class="input-text" id="password" name="password" >
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>重复密码：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                                <input type="password" class="input-text" id="reastpw" name="reastpw" >
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="role">
                        <option selected>选择</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </span>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>启用类型：</label>
                            <div class="form-controls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="status">
                        <option selected>选择</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </span>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                                <button class="btn btn-primary radius" type="button" id="submit"><i class="Hui-iconfont">&#xe632;</i> 添加保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>
</section>
{/block}